{% extends 'base.html' %}

{% block content %}
<h1>List of Snacks...</h1>

<section>
    {% for snack in snacks %}
    <ul>
        <li class="heading">
            <h3 class="text-3xl text-green-800">
                <a href="{% url 'snack_detail' snack.pk %}">
                    {{snack.title}}
                </a>
            </h3>
        </li>
        <li>
            <p><b>Purchaser</b>: {{snack.purchaser}}</p>
        </li>
        <li>
            <p><b>Description</b>: {{snack.description}}</p>
        </li>
    </ul>
    {% endfor%}
</section>
{% endblock content %}